{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row mt-3">
  <div class="col-12">
      <h2 class="display-5 text-center mb-3 pb-5">Taking control was never that easy</h2>
  </div>
</div>
{% endblock %}

{% block page_body %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card bg-dark text-white">
            <img src="{% static 'images/forecasting_onwindowrs.webp' %}" class="card-img opacity-25" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Forecast</h5>
              <p class="card-text">Easy to add for further analyze.</p>
              <p class="card-text">Calculating deviation and comparing with actuals and past forecasts.</p>
              <p class="card-text">Extra feature - adding promotions to see dependency</p>
              <a href="{% url 'forecast-home' %}" class="btn btn-primary">Go there</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
              <img src="{% static 'images/operational_planningrs.webp' %}" class="card-img opacity-25" alt="...">
              <div class="card-img-overlay ">
                <h5 class="card-title">Operation planning</h5>
                <p class="card-text">Plan yearly, monthly, weekly and daily.</p>
                <p class="card-text">User-friendly planning.</p>
                <p class="card-text">Customized calculation features.</p>
                <a href="{% url 'planning_operation' %}" class="btn btn-primary">Go there</a>  
            </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark text-white">
              <img src="{% static 'images/people_planningrs.webp' %}" class="card-img opacity-25" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Resource planning</h5>
                <p class="card-text">Directly connected to operation planning.</p>
                <p class="card-text">Easy to set.</p>
                <a href="#" class="btn btn-primary">Go there</a>  
            </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark text-white">
              <img src="{% static 'images/statisticrs.webp' %}" class="card-img opacity-25" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Replanishment planning</h5>
                <p class="card-text">Connected to all operational streams.</p>
                <p class="card-text">Using machine learning for predictions.</p>
                <a href="#" class="btn btn-primary">Go there</a>
            </div>
            </div>
          </div>
      </div>
    </div>
{% endblock %}
