{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widh=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap-5.1.3-dist/css/bootstrap.css' %}" >
        <link rel="stylesheet" href="{% static 'css/main.css' %}" >
        <script src="{% static 'js/bootstrap-5.1.3-dist/js/bootstrap.js' %}"></script>
    </head>
    <body>
        <header class="logo-color"> 
            <img src="{% static 'images/logo2.jpg' %}" class="img-fluid" width="300" height="200" alt="Your logo">
            <p class="float-md-end">Plan and manage every stream in one place.</p>
            {% block page_header %}
            {% endblock %}
        </header>
            {% block page_body %}

            {% endblock %}
        <footer>
            {% block page_footer %}
            {% endblock %}
        </footer>
    </body>
</html>